@font-face {
  font-family: 'LABDigital';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.eot?#iefix') format('embedded-opentype'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff2') format('woff2'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.woff') format('woff'),
       url('https://cdn.jsdelivr.net/gh/webfontworld/fontlab/LABDigital.ttf') format("truetype");
  font-display: swap;
}

*{ font-family: 'LABDigital'; box-sizing: border-box;}
html, body{ margin: 0; background-color: white;}

.container{
  width: 80%;
  min-width: 320px;
  max-width: 640px;
  margin: 10px auto;
  padding: 5px 0 15px;
  text-align: center;
  border: 1px solid black;
  border-radius: 16px;
}

/* h2{
  color: ;
}
h1{
  color: ;
} */

h1 > span{
  display: inline-block;
  width: 40px;
}

button{
  color: darkslategray;
  background-color: lightgray;
  font-size: 16px;
  padding: 6px;
  width: 100px;
  border: none;
  border-radius: 3px;
  cursor:pointer;
}

button:active{
  color: lightgray;
  background-color: darkslategray;
}